<% provide :title, t(".contact_title") %>
<h1><%= t ".contact_title" %></h1>
<p>
  <%= t ".contact_rb" %>
  <a href="http://www.railstutorial.org/contact"><%= t ".contact_page" %></a>
  <%= t ".contact_dot" %>
</p>
