<% provide :title, t(".help_title") %>
<h1><%= t ".help_title" %></h1>
<p>
  <%= raw t(".help_text",
    help_section: link_to(t(".help_section"), "http://www.railstutorial.org/help"),
    help_book: link_to(t(".help_book"), "http://www.railstutorial.org/book")) %>
</p>
