<header class="navbar navbar-fixed-top navbar-inverse">
  <div class="container">
    <%= link_to t("sample_app"), "/", id: "logo" %>
    <nav>
      <ul class="nav navbar-nav navbar-right">
        <li><%= link_to t("static_pages.home.home_title"), "/" %></li>
        <li><%= link_to t("static_pages.help.help_title"), "/help" %></li>
        <li><%= link_to t("log_in"), "#" %></li>
      </ul>
    </nav>
  </div>
</header>
